a:link
{
	text-decoration: none;
	color:#000000;
}

a:visited
{
	text-decoration: none;
	color:#000000;
}

a:active
{
	text-decoration: none;
	color:#FF0000;
}

a:hover
{
	text-decoration: underline;
	color:#000000;
}

.form1
{
	font-family:Tahoma;
	font-size: 8pt;
	font-weight:bold;
	color:#FFFFFF;
	background:#555555;
	border-width:1px;
	border-color:#000000;
	page-break-inside: avoid;
	border-style:solid;
	border-collapse:collapse;
}

.submit
{
	font-family:Tahoma;
	font-size: 8pt;
	font-weight:bold;
	color:#FFFFFF;
	background:#555555;
	border-width:1px;
	border-color:#000000;
	page-break-inside: avoid;
	border-style:solid;
	border-collapse:collapse;
}

.td_menu
{
	font-family:Tahoma;
	font-size:11px;
	color:#000000;
}

.td_menu2
{
	font-family:Verdana;
	font-size:10px;
	color:#000000;
}

.block_title
{
	FILTER: dropshadow(color=#000000,offx=1,offy=1,positive=1);
	font:bold 11px Tahoma; 
	color:#FFFFFF; width:100%;
}